@smallSize: 320px;
@smallSize2: 321px;
@desktopSize: 769px;
@tabletSize: 768px;
@wide: 1024px;
@desktop: ~'(min-width: @{desktopSize})';
@tablet: ~'(max-width: @{tabletSize})';
@small: ~'(max-width: @{smallSize})';
@minSmall: ~'(min-width: @{smallSize2})';

.shared__fluid-type(
    @property,
    @min-px,
    @max-px,
    @min-size,
    @max-size) {
    @{property}: @min-size;
    @media screen and (min-width: @min-px) {
        @{property}: calc(
            @min-size ~' + ' unit(@max-size - @min-size)
        ~' * ((100vw - ' @min-px ~') /' unit(@max-px - @min-px) ~')'
        );
    }
    @media screen and (min-width: @max-px) {
        @{property}: @max-size;
    }
}
