@import './styles/_responsiveHelpers.less';

html {
    .shared__fluid-type(font-size, @desktopSize, @wide, 12px,16px) !important;
    @media @tablet {
        font-size: 14px !important;
    }
}

body {
    margin: 0;
}

body.--no-scroll {
    overflow: hidden;
}

.component-responsive-image-size img {
    max-width: 100%;
    max-height: 100%;
}

picture > img {
    width: 100%;
}
@-webkit-keyframes sk-waveStretchDelay {
    0%,
    100%,
    40% {
        transform: scaleY(0.4);
    }

    20% {
        transform: scaleY(1);
    }
}
@keyframes sk-waveStretchDelay {
    0%,
    100%,
    40% {
        transform: scaleY(0.4);
    }

    20% {
        transform: scaleY(1);
    }
}
